/* for the top-right and bottom left glowy purple bubbles */
.glowy-bubbles {
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.glowy-bubbles::after,
.glowy-bubbles::before {
  content: "";
  position: absolute;
  width: 25rem;
  height: 25rem;
  background: #482bd9;
  border-radius: 50%;
  z-index: -1;
  opacity: 1;
  filter: blur(200px);
}

.glowy-bubbles::before {
  bottom: -7rem;
  left: -7rem;
}
.glowy-bubbles::after {
  top: -7rem;
  right: -7rem;
}

/* Footer-glowy-bubbles */
.glowy-bubbles-footer {
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.glowy-bubbles-footer::after,
.glowy-bubbles-footer::before {
  content: "";
  position: absolute;
  width: 20rem;
  height: 20rem;
  background: #5837ff;
  border-radius: 50%;
  z-index: -1;
  opacity: 1;
  filter: blur(200px);
}

.glowy-bubbles-footer::before {
  bottom: -7rem;
  left: -7rem;
}
.glowy-bubbles-footer::after {
  top: -7rem;
  right: -7rem;
}

/* for the top-left and bottom-right glowy purple bubbles */
.glowy-bubbles-inverse {
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.glowy-bubbles-inverse::after,
.glowy-bubbles-inverse::before {
  content: "";
  position: absolute;
  width: 25rem;
  height: 25rem;
  background: #482bd9;
  border-radius: 50%;
  z-index: -1;
  opacity: 1;
  filter: blur(200px);
}

.glowy-bubbles-inverse::before {
  top: -7rem;
  left: -7rem;
}
.glowy-bubbles-inverse::after {
  bottom: -7rem;
  right: -7rem;
}

/* Media queries */
@media screen and (max-width: 1024px) {
  .glowy-bubbles::before,
  .glowy-bubbles-footer::before,
  .glowy-bubbles-inverse::after {
    bottom: -10rem;
    left: -10rem;
  }
  .glowy-bubbles::after,
  .glowy-bubbles-footer::after,
  .glowy-bubbles-inverse::before {
    top: -10rem;
    right: -10rem;
  }
}

@media screen and (max-width: 768px) {
  .glowy-bubbles::after,
  .glowy-bubbles::before,
  .glowy-bubbles-inverse::before,
  .glowy-bubbles-inverse::after {
    width: 20rem;
    height: 20rem;
  }
  .glowy-bubbles-footer::after,
  .glowy-bubbles-footer::before {
    width: 15rem;
    height: 15rem;
  }
  .glowy-bubbles::before,
  .glowy-bubbles-inverse::after {
    bottom: -4rem;
    left: -4rem;
  }
  .glowy-bubbles::after,
  .glowy-bubbles-inverse::before {
    top: -4rem;
    right: -4rem;
  }
}

@media screen and (max-width: 425px) {
  .glowy-bubbles::after,
  .glowy-bubbles::before,
  .glowy-bubbles-inverse::after,
  .glowy-bubbles-inverse::before {
    opacity: 0.6;
  }
}
